		<div class="well" ng-app="myApp" ng-controller="myCtrl" >

			<form name="login" >
				<div class="row">
					<div class="col-lg-6"><label for="username">Username</label></div><div class="col-sm-6"><input type="text" name="username" ng-model="userName" /></div>
				</div>
				<div class="row">
					<div class="col-lg-6"><label for="password">Password</label></div><div class="col-sm-6"><input type="text" name="password" ng-model="userName" /></div>
				</div>
				<div class="row">
					<div class="col-lg-12 alignRight"><button type="button" class="btn btn-default" ng-click="login">Login</button></div>
				</div>
			</form>	
		</div>	